﻿body {
    
    background-color:sandybrown;
    margin-left:auto;
    margin-right:auto;
}



img.my_image_src{
    float:right;
    width:200px;
    
}
div.my_intro{
    padding-right:50%;
    
}

h1.my_intro_title{
    font-family:Harrington;
    font-size:42px;
}

p.my_intro_content{
    font-size:18px;
    font-family:Calibri;
}

div.minecraft_walking_zone{
    margin-top:200px;

}