﻿
<h3>Reviewed the MEAN stack, and practiced on jQuery</h3>
<ul>
    <li>
        Reviewed the MEAN stack. Stuck on some silly bugs for the whole day.
    </li>
    <li>
        Learned to change the html content using jQuery.
    </li>
    <li>
        Added two experiments summerizing what I have learned.
        <ul>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/01-ChangeHtmlContent.html" target="_blank">Change Html Content</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/3-nodejs/02-MEANStack.html" target="_blank">MEAN Stack</a></li>
        </ul>
    </li>


</ul>

