﻿
<h3>More D3 experiments</h3>
<ul>
    <li>
        Made two more experiment on D3.
    </li>
    <li>
        Spent the whole night on some mysterious bugs in the second experiment. 
        I still didn't figure out exactly what happens.
        Now I have learned most of d3 knowledge I need to build my final project. I'll figure out the overall structure of my project soon so that I can conduct other experiments
    </li>
    <li>
        
        <ul>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/5-d3/04-dragToAddLink.html" target="_blank">Drag To Add Link</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/5-d3/05-deleteUsingKeyboard.html" target="_blank">Delete using Keyboard</a></li>
        </ul>
    </li>


</ul>