﻿<p>
    <h3>Explored a little bit on jQuery.</h3>
    <ul>
        <li>
            Learned the basic idea of jQuery on <a href="http://www.codecademy.com" target="_blank">codecademy</a>. During the learning I found that I was not familiar with the CSS selector so I also studied the usage of it.
        </li>

        <li>
            Added two experiments summerizing what I have learned.
            <ul>
                <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/00-helloJQuery.html" target="_blank">Hello jQuery</a></li>
                <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/1-html/02-cssSelector.html" target="_blank">CSS Selector</a></li>
            </ul>
        </li>


    </ul>

</p>