﻿
<h3>Worked on project. Added experiments of Entity Framework and Ajax</h3>
<p>
    I made three experiments for both Entity Framework and Ajax
    <br />

    <br />
    Struggled with the connection string for a while and finally got it work.
    
    Hope everything goes well for my project.
    <a href="http://net4.ccs.neu.edu/home/yihuaqi/story/index.htm?../experiments/7-EF/story.txt">Entity framework</a>
    <a href="http://net4.ccs.neu.edu/home/yihuaqi/story/index.htm?../experiments/8-Ajax/story.txt">Ajax</a>
</p>

