﻿
<h3>Tried to implement login but failed</h3>
<p>
    Tried to implement login using MEAN stack but failed.
</p>
<p>
        Followed this <a href="http://runnable.com/UTlPPF-f2W1TAAEY/login-auth-using-sessions-in-express-for-node-js-and-authentication">Tutorial</a> but didn't get everything work fine.
        I tried to use ejs module to do the rendering, but the tutorial doesn't allow me to read the ejs file. I just couldn't get the res.render() work, which might be caused by different versions of modules.
</p>
<p>
        The ng-route thing of angular will cause app.get('/',fn) never got called, so that I won't be able to redirect the blank page to the login page, and I hate to put login as the default page.
    </p>
<p>
    So I turned to some techniques like using res.sendfile(). But another problem rose up: All the css files and js files are not found, only the plain html file is sent. And res.redirect() will never find the correct html file.
</p>
<p>
    But I kind of getting how this authentication works. I hope I can show some code and put some experiments here, but looks like that I committed the wrong version of codes to the github.
</p>
<p>
    Basically when user is communicating with the server, the login information can be stored in user.session. So everytime user goes to some page that need authentication, we put a middle function before actually returning the requested page.
    app.get("/restricted",restrict,function(res,req){ //Return the requested page }); The function restrict() will check if user.session.username exists or not, if not, it will redirect user to the login page.
</p>
<p>
    While the login page can be easily done by submitting the username and password pair, and checking if the pair exists. The username and password can be saved directly into the database, however a safer way to do that is to "hash and salt"
    the password, so that even if the database gets compromised, the credential information won't leak (will it?).
</p>
<p>
    I will post experiments after I have a working version of the login and routing system.
</p>

