﻿
<h3>jQuery UI experiment, and D3 JS</h3>
<ul>
    <li>
        Made a trival jQuery UI experiment. Will dig into it deeper next week.
    </li>
    <li>
        Learned to use the basic usage of D3 (Data-Driven Documents) JS.
    </li>
    <li>
        Added five experiments summerizing what I have learned.
        <ul>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/02-helloJQueryUI.html" target="_blank">Hello jQueryUI</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/5-d3/00-helloD3.html" target="_blank">Hello D3</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/5-d3/01-enteringAndExiting.html" target="_blank">Entering And Exiting</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/5-d3/02-nodesAndLinks.html" target="_blank">Nodes And Links</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/5-d3/04-dragToAddLink.html" target="_blank">Force Layout</a></li>
        </ul>
    </li>


</ul>