﻿<p>
    <h3>Set up and Basic HTML</h3>
    <ul>
        <li>
            Set up the environment. 
            Found there is some certificate issue with Web Deployment when I was installing Visual Studio 2012. 
            Wasted me a whole day. 
            The newest version of Bitvise does no work, so I downloaded a older version
        </li>

        <li>
            Downloaded the essential files.
        </li>
            
        <li>
            Added a simple experiment of html.
        </li>

        <li>
            Organized the experiment using Story Utility.
        </li>

        <li>
            Added a simple introduction on the home page.
        </li>
    </ul>

</p>