﻿<p>
    <h3>Added several AngularJS Experiments</h3>
    <ul>

        <li>
            Rebuilt the examples that are discussed during the class. Even though those are very straightforward examples, I deepen my understanding of AngularJS.
        </li>
        <li>
            Understood the meaning and usage of ng-contoller, ng-model, ng-repeat, and ng-click. ng-controller will define a entry function when the html is loaded. ng-model will define a data model. ng-repeat can interate an array. ng-click will define a click event listener.
        </li>
        <li>
            Every controller function has a scope, through which I can access all ng-models that are defined under the ng-controller.
        </li>
        <li>
            ng-repeat is useful when we want to display an array using tables or rows.
        </li>
        <li>
            ng-click defines a click listener, and data model can be passed into it.
        </li>
        <li>
            Adding item to array can use arrays.push(). Deleting item from array can use arrays.splice(item, number). These will automatically rerender views that are connected with the arrays.
        </li>
        <li>
            Learned how to start a http request and process its response.
        </li>
        
    </ul>

</p>