﻿<p>
    <h3>Setup Node.JS. Added two experiments using Express.JS and OpenShift.</h3>
    <ul>
        <li>
            Spent the whole morning to setup the OpenShift. Stuck by a problem that cannot clone project from GitHub for more than an hour, suprised to find that all I needed was a restart of powershell...
        </li>

        <li>
            Practiced how to write server using Node.JS. It works as expected.
        </li>
            
        <li>
            Added two experiments summerizing what I have learned.
            <ul>
                <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/3-nodejs/00-helloNodeJS.html" target="_blank">Hello NodeJS</a></li>
                <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/3-nodejs/01-bookLibrary.html" target="_blank">Book Library</a></li>
            </ul>
        </li>


    </ul>

</p>