﻿
<h3>Tried to connect with database and implemented login using ASP.NET</h3>
<p>
    I decided not to use the MEAN Stack and turned to ASP.NET.
    <br/>
    I was shocked by how easy it is to create a login widget.
    <br/>
    
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/00-login.aspx">Experiment-Login</a>
</p>
<p>
    Then I tried to connect to the database. What a mess. I spent a whole day configuring the environment... But I finally got it work.
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/01-databaseConnection.aspx">Experiment-Database Connection</a>
</p>
<p>
    Then I reproduced the content that professor talked about this week.
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/02-customizedLogin.aspx">Experiment-Customized Login</a>
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/03-restrictedPage.aspx">Experiment-Restricted Page</a>
</p>

