﻿
<h3>More on jQuery</h3>
<ul>
    <li>
        Made four experiments of jQuery.
    </li>
    <li>
       Found a good image slider library that can be used to display images.
        Made several experiments of that library, and eventually construct a profile page of voice actress, which later will be used for final project.
    </li>
    <li>

        <ul>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/03-displayImages.html" target="_blank">Display Images</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/04-addMoreImages.html" target="_blank">Add More Images</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/05-deleteImages.html" target="_blank">Delete Images</a></li>
            <li><a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/4-jQuery/06-voiceActress.html" target="_blank">Voice Actress</a></li>

        </ul>
    </li>


</ul>