﻿
<h3>Tried to transmit data between client and server</h3>
<p>
    I made three experiment that pass data between client and server.
    <br />
    
    <br />
    Create a CV profile using the asp control.
    I used asp textbox controller to post the data, but that is ugly. I think in the final project I will use Ajax.
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/04-createCV.aspx">Experiment-Create CV</a>
</p>
    <br />
<p>
    Then I tried to access the database using C#.
    Spent some time figuring out how to get the connection string without hardcoding it.
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/05-accessDatabase.aspx">Experiment-Access Database</a>
</p>
<br />
<p>

    Then I tried to use ajax. This is a very powerful tool to communicate between the asp.net and jQuery.
    <a target="_blank" href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/6-ASP/06-accessDatabaseByAjax.aspx">Experiment-Access Database By Ajax</a>
    
</p>

