﻿<p>
    <h3>Added a new CSS Experiments</h3>
    <ul>
        <li>
            Registered in codecademy.com and spent the whole morning reviewing basic stuffs.
        </li>

        <li>
            Went to <a href="http://getbootstrap.com/css/#overview" target="_blank">Bootstrap Guide</a> and spent the rest of the day studying various features of bootstrap.
            <br /> 
        </li>

        <li>
            Added a <a href="http://net4.ccs.neu.edu/home/yihuaqi/experiments/1-html/01-bootstrap.html" target="_blank">CSS experiment</a> summerizing the things I learned.
        </li>

        <li>
            Hope I have time to finish the other two angularJS experiments by the deadline...
        </li>

    </ul>

</p>