﻿div {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color:#69D2E7;
    text-align:center;
    color:#ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity:0.5;


}
.panel {


    height:300px;
	display:none;
    font-family:garamond,times-new-roman,serif;
}
.panel p{
    text-align:center;
}

.pull-me {
    cursor:pointer;
}