﻿.draggable{
    width:100px;
    height:100px;
    border:solid;
    position:relative;
    padding: 0.5em;
}

.resizable{
    width:300px;
    height:300px;
    border:solid;
    position:relative;
    cursor:auto;
    padding: 0.5em;
}
.droppable{
    width:200px;
    height:200px;
    border:dashed;
    padding: 0.5em;
}

.highlighted{
    color:red;
}

.ui-selecting { background: #FECA40; }

.ui-selected { background: #F39814; color: white; }


