﻿.portrait-wrapper1{
    width:200px;
    height:200px;
    overflow:hidden;
}

.portrait-wrapper2{
    width:200px;
    height:200px;
    
}

.portrait-wrapper1 > .portrait{
    width:100%;
    
}



