﻿
div.flexslider{
    width:200px;
    height:200px;
    
}

.flexslider img.portrait{
    width:100%;
}

.deleteBtn{
    background-color: none;
    position:absolute;
    top:-10px;
    left:182px;
    width:20px;
    height:20px;
    z-index:100;
}

.deleteBtn.inactive{
    display:none;
}

.deleteBtn:hover{
    width:24px;
    height:24px;
    top:-12px;
    left:180px;
}

.selectDisable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}