﻿div.portrait-wrapper{
    
    float:right;
    width:38.2%;
    margin-left:30px;
}

div.voiceActress-description{
    border:solid black 1px;
    
    overflow:hidden;
    
}



.flexslider img.portrait{
    width:100%;
}

.deleteBtn{
    background-color: none;
    position:absolute;
    top:calc(0% - 10px);
    left:calc(100% - 10px);
    width:20px;
    height:20px;
    z-index:100;
}

.deleteBtn.inactive{
    display:none;
}

.deleteBtn:hover{
    width:24px;
    height:24px;
    top:calc(0% - 12px);
    left:calc(100% - 12px);
}

.selectDisable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}