﻿svg {
  background-color: #FFF;
  cursor: default;

}


path.link {
  fill: none;
  stroke: #000;
  stroke-width: 20px;
  cursor: default;
}


path.link.selected {
  stroke-dasharray: 10,2;
  stroke:red;
}

path.link.dragline {
  pointer-events: none;
  stroke:red;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}




text {
  font: 26px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

svg{
    border:groove;
}

label{
    font-size: 20px;
    
}
#createTypeDiv {
}
