﻿svg {
  background-color: #FFF;
  cursor: default;

}


path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}


path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}


text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
