﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular Hello World</title>
    <script src="../../js/angular.js"></script>
    
    <link rel="stylesheet" href="../css/experiments.css" />
</head>
<body ng-app>
    <div class="container">
        <h1 class="demo-title">Angular Hello World</h1>
    </div>

    
    <div ng-controller="HelloWorldController">
        <h3 class="demo-title">
            Message From Hello World Controller
        </h3>
        <p class="text-center demo-detail">{{message}}</p>
    </div>

    <script>
        function HelloWorldController($scope) {
            $scope.message = "Hello World!!!";
        }
    </script>

    <div class="container">
        <h2>Documentation</h2>
        <h3>Download</h3>
        <p>
            Download Angular JS from
            <a href="http://angularjs.org/"></a>
        </p>
        <p>
            Note that when I tried to install angular.min.js, Visual Studio seems to be unable to parse it.
        </p>
        <h3>Install</h3>
        <p>
            Add it to the page as follows:
            <pre>
&lt;script src=&quot;../../js/angular.js&quot;&gt;&lt;/script&gt;
        </pre>
        </p>

        <h3>Templates</h3>
        <p>Declare Templates using curly brackets</p>

    </div>

    <div class="reference container">
        <h2>References</h2>
        <ul>
            <li>
                Source File:
                <ul>
                    <li>
                        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/00-helloAngular.html" target="_blank">Html File</a>
                    </li>
                    
                </ul>
            </li>
            
        </ul>
    </div>

</body>
</html>
