﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Library</title>
    <script src="../../js/angular.js"></script>
    
    <link rel="stylesheet" href="../css/experiments.css" />
</head>
<body ng-app>
    <h1 class="demo-title">Book Library</h1>
    
    <div class="container" ng-controller="BookLibraryController">
        <p class="demo-detail">This uses basic angular functions to implement a simple booklibrary</p>
        <table class="table">

            <thead>
                <tr>
                    <td>
                        <input class="form-control" ng-model="newBook.isbn" placeholder="ISNB"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="newBook.title" placeholder="Title" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newBook.author" placeholder="Author" />
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="add()">Add</button>
                    </td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>Title</td>
                    <td>Author</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books">
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete(book)">Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="select(book)">Select</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <script>
        function BookLibraryController($scope) {
            var book1 = {
                isbn: "1234",
                title: "Book 1",
                author: "Author 1",
            };
            var book2 = {
                isbn: "2234",
                title: "Book 2",
                author: "Author 2",
            };
            var book3 = {
                isbn: "3234",
                title: "Book 3",
                author: "Author 3",
            };
            var books = [book1, book2, book3];
            $scope.books = books;

            $scope.add = function () {
                var book = {
                    isbn: $scope.newBook.isbn,
                    title: $scope.newBook.title,
                    author: $scope.newBook.author,
                };
                $scope.books.push(book);
            };

            $scope.delete = function (book) {
                var index = $scope.books.indexOf(book);
                console.log(book);
                $scope.books.splice(index, 1);

            };

            $scope.select = function (book) {
                $scope.newBook = book;
            }
            
        }
    </script>

    <div class="container">
        <h2>Documentation</h2>

        
        <p>The implementation of add() is</p>
        <pre>
&lt;button class=&quot;btn btn-success&quot; ng-click=&quot;add()&quot;&gt;Add&lt;/button&gt;
...
$scope.add = function () {
    var book = {
        isbn: $scope.newBook.isbn,
        title: $scope.newBook.title,
        author: $scope.newBook.author,
    };
    $scope.books.push(book);
};
        </pre>

        <p>The implementation of delete() is</p>
        <pre>
&lt;button class=&quot;btn btn-danger&quot; ng-click=&quot;delete(book)&quot;&gt;Delete&lt;/button&gt;
...
$scope.delete = function (book) {
    var index = $scope.books.indexOf(book);
    console.log(book);
    $scope.books.splice(index, 1);
};
        </pre>

        <p>The implementation of select() is</p>
        <pre>
&lt;button class=&quot;btn btn-warning&quot; ng-click=&quot;select(book)&quot;&gt;Select&lt;/button&gt;
...
$scope.select = function (book) {
    $scope.newBook = book;
}
        </pre>

        <h2>Reference</h2>
        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/01-bookLibrary.html" target="_blank">Source File</a>
    </div>

</body>
</html>
