﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Weather Client</title>
    <script src="../../js/angular.js"></script>
    
    <link rel="stylesheet" href="../css/experiments.css" />
</head>
<body ng-app>
    <div class="container" ng-controller="WeatherClientController">
        <h1 class="demo-title">Weather Client</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Wind</th>
                    <th>Description</th>
                    <th>Icons</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="w in weather">
                    <td>{{w.date}}</td>
                    <td>{{w.tempMinC}} - {{w.tempMaxC}}</td>
                    <td>{{w.winddirDegress}}{{w.winddirection}} {{w.windspeedKmph}}Kmph</td>
                    <td><span ng-repeat="d in w.weatherDesc">{{d.value}},&nbsp;</span></td>
                    <td><img ng-repeat="i in w.weatherIconUrl" ng-src="{{i.value}}"></td>
                </tr>
            </tbody>
        </table>
        <input class="form-control" ng-model="zip" placeholder="ZIP" />
        <input class="form-control" ng-model="numOfDays" placeholder="Number Of Days"/>
        <button class="btn btn-success" ng-click="getWeather()">Get Weather</button>
    </div>

    <script>
        var URL = "http://api.worldweatheronline.com/free/v1/weather.ashx?key=b8684a80897d6a77e858ec05209f06f0dfda5195&q=ZIP&format=json&num_of_days=NUM";
        function WeatherClientController($scope, $http) {
            
            $scope.getWeather = function () {
                var zip = $scope.zip;
                var numOfDays = $scope.numOfDays;
                var url = URL.replace("ZIP", zip);
                var url = url.replace("NUM", numOfDays)
                $http.get(url).success(function (response) {
                    $scope.weather = response.data.weather;

                });
            }
        }
    </script>

    <div class="container">
        <h2>Documentation</h2>
        <ul>
            <li>
                Very simple experiments. Replace the keywords in URL by the user input, then parse the result and display in a table.

                <pre>
&lt;input class=&quot;form-control&quot; ng-model=&quot;zip&quot; placeholder=&quot;ZIP&quot; /&gt;
&lt;input class=&quot;form-control&quot; ng-model=&quot;numOfDays&quot; placeholder=&quot;Number Of Days&quot;/&gt;
&lt;button class=&quot;btn btn-success&quot; ng-click=&quot;getWeather()&quot;&gt;Get Weather&lt;/button&gt;
...
&lt;script&gt;
    var URL = &quot;http://api.worldweatheronline.com/free/v1/weather.ashx?key=b8684a80897d6a77e858ec05209f06f0dfda5195&amp;q=ZIP&amp;format=json&amp;num_of_days=NUM&quot;;
    function WeatherClientController($scope, $http) {
        $scope.getWeather = function () {
            var zip = $scope.zip;
            var numOfDays = $scope.numOfDays;
            var url = URL.replace(&quot;ZIP&quot;, zip);
            var url = url.replace(&quot;NUM&quot;, numOfDays)
            $http.get(url).success(function (response) {
                $scope.weather = response.data.weather;

            });
        }
    }
&lt;/script&gt;
                </pre>
            </li>
            <li>
                As I remember in the class, professor said that all the reference to data model don't need curly brackets if it's used under the namespace ng-. However ng-src is not the case.
                <pre>
&lt;td&gt;&lt;img ng-repeat=&quot;i in w.weatherIconUrl&quot; ng-src=&quot;{{i.value}}&quot;&gt;&lt;/td&gt;
                </pre>
                
            </li>
            <li>
                These lines of code do the following things:
                <ol>
                    <li>
                        Execute a http get method with the given url.
                    </li>
                    <li>
                        Set up a listener wait for server's success response, and trigger the function passed in.
                    </li>
                </ol>
                <pre>
$http.get(url).success(function (response) {
    $scope.weather = response.data.weather;
});
            </pre>
                
            </li>
        </ul>

        <h2>Reference</h2>
        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/02-weatherClient.html">Source Html</a>
        <br/>
        <a href="https://developer.worldweatheronline.com/">Weather API</a>
    </div>
    
</body>
</html>
