﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simple Search Engine</title>
    <script src="../../js/angular.js"></script>
    <link rel="stylesheet" href="../css/experiments.css" />
    <script src="js/03-simpleSearchEngine.js"></script>
</head>
<body ng-app="searchEngine">
    <div ng-init="actors = [{name:'John', film:'Spider Man'},
                         {name:'Mary', film:'Super Man'},
                         {name:'Mike', film:'Iron Man'},
                         {name:'Adam', film:'Amazing Woman'},
                         {name:'Julie', film:'Seven Sins'},
                         {name:'Juliette', film:'Father'}]"></div>
    <h2 class="demo-title">Simple Search Engine</h2>
    <p class="demo-detail">This is a experiment that realizes a simple search engine using angular and its filter.</p>
    <p class="demo-detail">The In HTML Template Binding is like:</p>
    <pre>
        {{ filter_expression | filter : expression : comparator}}
</pre>
    <p class="demo-detail">Below will look for any matches of substring of all the fields.</p>
    <p>Search:<input ng-model="searchText"/></p>
    <table id="searchTextResult">
        <tr><th>Name</th><th>Film</th></tr>
        <tr ng-repeat="actor in actors | filter:searchText">
            <td>{{actor.name}}</td>
            <td>{{actor.film}}</td>
        </tr>
    </table>
    <pre>
    &lt;p&gt;Search:&lt;input ng-model=&quot;searchText&quot;/&gt;&lt;/p&gt;
    &lt;table id=&quot;searchTextResult&quot;&gt;
        &lt;tr&gt;&lt;th&gt;Name&lt;/th&gt;&lt;th&gt;Film&lt;/th&gt;&lt;/tr&gt;
        &lt;tr ng-repeat=&quot;actor in actors | filter:searchText&quot;&gt;
            &lt;td&gt;{{actor.name}}&lt;/td&gt;
            &lt;td&gt;{{actor.film}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
</pre>
    <p class="demo-detail">
        Note that the ng-repeat will automatically updates its content in response to changing the filter.
    </p>
    <br />

    <p class="demo-detail">
        We can make a more specific filter that looks for match of a substring of a specific field by passing an object.
    </p>
    <p>Search Any:<input ng-model="search.$"></p>
    <p>Search by name:<input ng-model="search.name"/></p>
    <p>Search by film:<input ng-model="search.film"/></p>
    <table id="searchResult">
        <tr><th>Name</th><th>Film</th></tr>
        <tr ng-repeat="actorObj in actors | filter:search">
            <td>{{actorObj.name}}</td>
            <td>{{actorObj.film}}</td>
        </tr>
    </table>
    <p class="demo-detail">Besides string and object, we can also pass a function as the argument of the filter.</p>
    <p class="demo-detail">Below is using a simple filter function that looks for match of the initial letter</p>
    <p >Search by initial letter:<input ng-model="letter" /></p>
    <table id="searchFunctionResult">
        <tr><th>Name</th><th>Film</th></tr>
        <tr ng-repeat="actorObject in actors | startWithLetter:letter">
            <td>{{actorObject.name}}</td>
            <td>{{actorObject.film}}</td>
        </tr>
    </table>
    <pre>
 &lt;p&gt;Search by initial letter:&lt;input ng-model=&quot;letter&quot; /&gt;&lt;/p&gt;
    &lt;table id=&quot;searchFunctionResult&quot;&gt;
        &lt;tr&gt;&lt;th&gt;Name&lt;/th&gt;&lt;th&gt;Film&lt;/th&gt;&lt;/tr&gt;
        &lt;tr ng-repeat=&quot;actorObject in actors | startWithLetter:letter&quot;&gt;
            &lt;td&gt;{{actorObject.name}}&lt;/td&gt;
            &lt;td&gt;{{actorObject.film}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
</pre>
    <pre>
app.filter(&apos;startWithLetter&apos;, function () {
    return function (items, letter) {
        var filtered = [];
        var letterMatch = new RegExp(letter, &quot;i&quot;);
        for (var i = 0; i &lt; items.length; i++) {
            var item = items[i];
            if (letterMatch.test(item.name.substring(0, 1)) || letterMatch.test(item.film.substring(0,1))) {
                filtered.push(item);
            }
        }
        return filtered;
    };
});
</pre>
    <p class="demo-detail">Search engine would be an important part of my final project. So I would probably conduct more experiments to make a more advanced search engine later.</p>
    <h2 class="demo-title">Reference</h2>
    <ul>
        <li><a href="https://docs.angularjs.org/api/ng/filter/filter" target="_blank">Official Documentation</a></li>
        <li><a href="http://toddmotto.com/everything-about-custom-filters-in-angular-js/" target="_blank">Guidance of creating customized filter function</a></li>
        <li><a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/03-simpleSearchEngine.html" target="_blank">Source Html</a></li>
        <li><a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/js/03-simpleSearchEngine.js" target="_blank">Source JS</a></li>

    </ul>

</body>
</html>
