﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Search Engine With Order</title>
    <script src="../../js/angular.js"></script>
    <link rel="stylesheet" href="../css/experiments.css" />
    
</head>
<body ng-app>
    <div ng-init="actors = [{name:'John', film:'Spider Man',age:23},
                         {name:'Mary', film:'Super Man',age:32},
                         {name:'Mike', film:'Iron Man',age:34},
                         {name:'Adam', film:'Amazing Woman',age:43},
                         {name:'Julie', film:'Seven Sins',age:54},
                         {name:'Juliette', film:'Father',age:45}];
                         orderProp = 'name';
                         reverseOrder = false;
         "></div>
    <h2 class="demo-title">Search Engine With Order</h2>
    <p class="demo-detail">This is a experiment that realizes a search engine with the options of ordering results using angular.</p>
    <p class="demo-detail">The ordering can be specified by using "orderBy:field:reverse".</p>
    <p class="demo-detail">We can create ng-click event to dynamically change the value of field and reverse.</p>
    <p class="demo-detail">The In HTML Template Binding is like:</p>
    <pre>
        {{ filter_expression | filter : expression : comparator | orderBy : field}}
</pre>
    <p class="demo-detail">You can specify in what order the result is sorted by clicking on the tags.</p>

    Search:<input ng-model="searchText" />
   
    <table id="searchTextResult">
        <tr>
            <th><a ng-click="orderProp = 'name' ; reverseOrder = !reverseOrder" href="">Name</a></th>
            <th><a ng-click ="orderProp = 'age'; reverseOrder = !reverseOrder" href="">Age</a></th>
            <th><a ng-click="orderProp = 'film'; reverseOrder = !reverseOrder" href="">Film</a></th>
        </tr>
        <tr ng-repeat="actor in actors | filter:searchText | orderBy:orderProp:reverseOrder" >
            <td>{{actor.name}}</td>
            <td>{{actor.age}}</td>
            <td>{{actor.film}}</td>
        </tr>
    </table>
    <pre>
    &lt;table id=&quot;searchTextResult&quot;&gt;
        &lt;tr&gt;
            &lt;th&gt;&lt;a ng-click=&quot;orderProp = &apos;name&apos; ; reverseOrder = !reverseOrder&quot; href=&quot;&quot;&gt;Name&lt;/a&gt;&lt;/th&gt;
            &lt;th&gt;&lt;a ng-click =&quot;orderProp = &apos;age&apos;; reverseOrder = !reverseOrder&quot; href=&quot;&quot;&gt;Age&lt;/a&gt;&lt;/th&gt;
            &lt;th&gt;&lt;a ng-click=&quot;orderProp = &apos;film&apos;; reverseOrder = !reverseOrder&quot; href=&quot;&quot;&gt;Film&lt;/a&gt;&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr ng-repeat=&quot;actor in actors | filter:searchText | orderBy:orderProp:reverseOrder&quot; &gt;
            &lt;td&gt;{{actor.name}}&lt;/td&gt;
            &lt;td&gt;{{actor.age}}&lt;/td&gt;
            &lt;td&gt;{{actor.film}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
</pre>

    <h2 class="demo-title">Reference</h2>
    <ul>
        <li><a href="https://docs.angularjs.org/api/ng/filter/orderBy" target="_blank">Official Documentation</a></li>
        
        <li><a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/04-searchEngineWithOrder.html" target="_blank">Source Html</a></li>
        <li><a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/js/03-searchEngineWithOrder.js" target="_blank">Source JS</a></li>

    </ul>

</body>
</html>
