﻿.nestedSelector > div div p{
    font-size:26px;
}

.nestedSelector > div > div > p{
    color:#ff0000;
}

.idAndClass > .idAndClass-class{
    font-size:26px;
}

.idAndClass > #idAndClass-id{
    color:#00f5a6;
}

.idAndClass > #idAndClass-id2{
    color:#00f5a6;
}

.pseudoClassSelector :nth-child(2){
    text-decoration:none;
}


.pseudoClassSelector :nth-child(3):hover{
    color:red;
}

.pseudoClassSelector :nth-child(4){
    font-family:cursive;
}