﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello NodeJS</title>
    <script src="../../js/angular.js"></script>

    <link rel="stylesheet" href="../css/experiments.css" />
</head>
<body ng-app>
    <div class="container" ng-controller="HelloNodeJSController">
        <h1 class="demo-title">Hello NodeJS</h1>
        <p class="demo-detail">Here is a button click counter. The counter won't reset even if you refresh this page.</p>
        <button class="btn-success" ng-click="buttonClick()">Count:{{clickCount}}</button>
    </div>
    <script>
        var clickUrl = "http://experiment-yihuaqi.rhcloud.com/buttonClick";
        function HelloNodeJSController($scope, $http) {
            $scope.buttonClick = function () {
                $http.get(clickUrl).success(function (response) {
                    var clickCount = response;
                    console.log(response);
                    $scope.clickCount = clickCount;
                });

            };
        }
    </script>

    <div class="container">
        <h2 class="demo-title">Documentation</h2>
        <p class="demo-detail">
            Setup the environment:
            <ol>
                <li>
                    Download and install Node.js from the <a href="http://nodejs.org/" target="_blank">Official Website</a>.
                </li>
                <li>
                    Setup an Express project following the <a href="http://expressjs.com/guide.html" target="_blank">Guide</a>
                </li>
                <li>
                    Setup an OpenShift project following the <a href="https://developers.openshift.com/en/getting-started-overview.html" target="_blank">Guide</a>.
                </li>
                <li>
                    Finish the development and test locally and then push to openshift.
                </li>
            </ol>
        </p>
        <hr />
        <p class="demo-detail">
            The button is defined as 
            <pre>
     &lt;button class=&quot;btn-success&quot; ng-click=&quot;buttonClick()&quot;&gt;Count:{{clickCount}}&lt;/button&gt;
            </pre>
      
        </p>
        <br />
        <p class="demo-detail">
            The Script is defined as
            <pre>
     var clickUrl = &quot;http://experiment-yihuaqi.rhcloud.com/buttonClick&quot;;
        function HelloNodeJSController($scope, $http) {
            $scope.buttonClick = function () {
                $http.get(clickUrl).success(function (response) {
                    var clickCount = response;
                    console.log(response);
                    $scope.clickCount = clickCount;
                });
            };
        }
</pre>
        </p>
        <br />
        <p class="demo-detail">
            The count number is stored on the server side. The clickUrl will invoke a function on the server to increase the count by one, and return the count back.
            Then returned number is filled into the button.
            <pre>
    app.get(&apos;/buttonClick&apos;,function(req,res){
	    buttonClickCount = buttonClickCount + 1;
	    res.send(buttonClickCount.toString());
	    console.log(buttonClickCount.toString());
    });
            </pre>
        </p>
        <br />
        <p class="demo-detail">
            To support CORS in the nodejs application, the following should be added to server.js:
            <pre>
    app.all('/*', function(req, res, next) {
        res.header("Access-Control-Allow-Origin", "*");
        res.header("Access-Control-Allow-Headers", "X-Requested-With");
        next();
    });
            </pre>
        </p>
    </div>

    <div>
        <h2 class="demo-title">Reference</h2>
        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/2-angularJS/02-weatherClient.html" target="_blank">Client Source File</a>
        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/3-nodejs/NodeJS/server.js" target="_blank">Server Source File</a>
        <ul>
            <li>
                <a href="http://nodejs.org/" target="_blank">NodeJS site</a>
                
                
            </li>
            <li>
                <a href="http://expressjs.com/guide.html" target="_blank">Express Site</a>
            </li>
            <li>
                <a href="https://developers.openshift.com/en/getting-started-overview.html" target="_blank">OpenShift Setup</a>
            </li>
        </ul>
    </div>
</body>
</html>
