﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Library</title>
    <script src="../../js/angular.js"></script>

    <link rel="stylesheet" href="../css/experiments.css" />
</head>
<body ng-app>
    <h1 class="demo-title">Book Library</h1>

    <div class="container" ng-controller="BookLibraryController">



        <p class="demo-detail">This book library is built based on the previous AngularJS 01-bookLibrary experiments.</p>
        <p class="demo-detail">It retreives book information from the server. Also all the add and delete operations happen on server.</p>

        <table class="table">

            <thead>
                <tr>
                    <td>
                        <input class="form-control" ng-model="newBook.isbn" placeholder="ISNB" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newBook.title" placeholder="Title" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newBook.author" placeholder="Author" />
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="add()">Add</button>
                    </td>
                    <td>
                        <p>{{OperationResult}}</p>
                    </td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>Title</td>
                    <td>Author</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books">
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete(book)">Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="select(book)">Select</button>
                    </td>

                </tr>

            </tbody>
        </table>
        <button class="btn-success" ng-click="getAllBooks()">Show all books</button>
    </div>
    <script>

        var getAllBooksUrl = "http://experiment-yihuaqi.rhcloud.com/getAllBooks";
        var addBookUrl = "http://experiment-yihuaqi.rhcloud.com/addBook?isbn=ISBN&title=TITLE&author=AUTHOR";
        var deleteBookUrl = "http://experiment-yihuaqi.rhcloud.com/deleteBook?isbn=ISBN";
        function BookLibraryController($scope,$http) {

            $scope.add = function () {
                var url = addBookUrl.replace("ISBN", $scope.newBook.isbn).replace("TITLE", $scope.newBook.title).replace("AUTHOR", $scope.newBook.author);
                $http.get(url).success(function (response) {
                    $scope.OperationResult = response;
                });
            };

            $scope.delete = function (book) {
                var url = deleteBookUrl.replace("ISBN",book.isbn);
                $http.get(url).success(function (response) {
                    $scope.OperationResult = response;
                });

            };

            $scope.select = function (book) {
                $scope.newBook = book;
            }

            $scope.getAllBooks = function () {
                $http.get(getAllBooksUrl).success(function (response) {
                    $scope.books = response;
                });
            }

        }
    </script>

    <div class="container">
        <h2 class="demo-title">Documentation</h2>
        

        <p class="demo-detail">The implementation of add() is:</p>
        <pre>
            &lt;button class=&quot;btn btn-success&quot; ng-click=&quot;add()&quot;&gt;Add&lt;/button&gt;
            ...
            var addBookUrl = &quot;http://experiment-yihuaqi.rhcloud.com/addBook?isbn=ISBN&amp;title=TITLE&amp;author=AUTHOR&quot;;
              $scope.add = function () {
                var url = addBookUrl.replace(&quot;ISBN&quot;, $scope.newBook.isbn).replace(&quot;TITLE&quot;, $scope.newBook.title).replace(&quot;AUTHOR&quot;, $scope.newBook.author);
                $http.get(url).success(function (response) {
                    $scope.OperationResult = response;
                });
            };            
        </pre>
        <p class="demo-detail">This add function puts all the fields of the book to be added into the query so that the server can create a new book.</p>
        <pre>
            app.get(&apos;/addBook&apos;,function(req,res){
	            var newIsbn = req.query.isbn;
	            var newTitle = req.query.title;
	            var newAuthor = req.query.author;
	            var duplicate = false;
	            for (var i = books.length - 1; i &gt;= 0; i--) {
		            if(books[i].isbn == newIsbn){
			            duplicate = true;
		            }
	            };
	            if(duplicate){
		            res.send(&quot;Duplicate ISBN!&quot;);
	            } else {
		            var newbook = {
			            isbn: newIsbn,
			            title: newTitle,
			            author: newAuthor
		            };
		            books.push(newbook);
		            res.send(&quot;Add Success!&quot;);
		
	            }
            });
         </pre>
        <p class="demo-detail">Note that the server will check for the duplicate ISBN, and give response of whether this operation succeeds or not.</p>

        <br />
        <hr />

        <p class="demo-detail">The implementation of delete() is:</p>

        <pre>
            &lt;button class=&quot;btn btn-danger&quot; ng-click=&quot;delete(book)&quot;&gt;Delete&lt;/button&gt;
            ...
            var deleteBookUrl = &quot;http://experiment-yihuaqi.rhcloud.com/deleteBook?isbn=ISBN&quot;;
            $scope.delete = function (book) {
                var url = deleteBookUrl.replace(&quot;ISBN&quot;,book.isbn);
                $http.get(url).success(function (response) {
                    $scope.OperationResult = response;
                });
            };
        </pre>
        <p class="demo-detail">Since the ISBN is the only identifier of a book and will not have duplicates, it can be used for searching the book to be deleted. Below is the server side implementation.</p>
        <pre>
            app.get(&apos;/deleteBook&apos;,function(req,res){
	            var deleteISBN = req.query.isbn;
	            var result = false;
	            for (var i = books.length - 1; i &gt;= 0; i--) {
		            if(books[i].isbn == deleteISBN){
			            result = true;
			            books.splice(i,1);
		            }
	            };
	            if(result){
		            res.send(&quot;Delete Success!&quot;);
	            } else {
		            res.send(&quot;ISBN does not exist!&quot;);
	            }
            });
        </pre>
        <p class="demo-detail">Note that it will inform the user if the book is found and deleted or not.</p>

        <br />
        <hr />

        <p class="demo-detail">The implementation of show all books button is:</p>
        <pre>
            &lt;button class=&quot;btn-success&quot; ng-click=&quot;getAllBooks()&quot;&gt;Show all books&lt;/button&gt;
            ...
            var getAllBooksUrl = &quot;http://experiment-yihuaqi.rhcloud.com/getAllBooks&quot;;
            $scope.getAllBooks = function () {
                $http.get(getAllBooksUrl).success(function (response) {
                    $scope.books = response;
                });
            }
        </pre>
        <p class="demo-detail">The response of the getAllBooksUrl is the json of all books. The server side implementation is also simple:</p>
        <pre>
            app.get(&apos;/getAllBooks&apos;,function(req,res){
	        res.json(books);
            });
        </pre>
        <p class="demo-detail">books is the data model for storing all information of books</p>
        <h2>Reference</h2>
        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/3-nodejs/01-bookLibrary.html" target="_blank">Client Source File</a>
        <a href="/home/yihuaqi//fileview/Default.aspx?~/experiments/3-nodejs/NodeJS/server.js" target="_blank">Server Source File</a>
    </div>

</body>
</html>
